{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <section class="py-10 bg-[#FBEDEB]">
        <div class="container mx-auto bg-white rounded-lg">
            <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-0 gap-y-5 py-10  shadow-lg p-10">
                <div class="mx-auto ">
                    <img class="border p-3 shadow" src="{{book.image.url}}" alt="">
                </div>
    
                <div class="mx-auto space-y-4">
                    <h1 class="text-xl font-semibold">{{book.title}}</h1>
                    <p class="text-sm">
                        {{book.description}}
                    </p>
                    <div class="">
                        {% for category in book.categories.all %}
                            <span class="inline-block bg-green-600 rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2 ">#{{ category.name }}</span>
                        {% endfor %}
                    </div>
                   {% if request.user.is_authenticated  %}
                   <a role="button" href="{%url 'borrow' book.id%}" class="text-lg block hover:bg-indigo-800 font-bold bg-indigo-600 py-2 px-5 text-white font-medium rounded lg:w-2/5">Borrow Price : $ {{book.borrowing_price|intcomma }}</a>
                   {% endif %}
                </div>
            </div>

        </div>

        {% comment %} Book reviews {% endcomment %}
        {% if reviews %}
        <div class="my-2">
            <h1 class="text-2xl font-bold my-4 text-center">User Reviews</h1>
            {% for review in reviews %}
                <div class="container mx-auto bg-white rounded-lg p-10 border space-y-4 my-4">
                    <h1 class="font-bold underline text-sm">{{review.user.username}}</h1>
                    <p class="italic font-medium text-lg">"{{review.content}}"</p>
                    <p class="text-yellow-700">Ratings : {{review.ratings}}/5</p>
                    <p class="text-sm">Reviwed at : {{review.timestamps}}</p>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>
{% endblock content %}